.pie {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh;  */
      list-style: none; 
    padding: 0;      
    margin: 0; 
     padding: 25px;
  border-radius: 12px;

  cursor: pointer;
    width: 250px;
    margin: 10px;
      background: linear-gradient(
        180deg,
        #f5ecff 0%,
        #f2f6ff 50%,  
        #eef9ff 100%  
    );
 box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1); 
    border: 1px solid #dcdcdc;
  
    
}

.main-pie{
    display: flex;
}
.course h5{
     display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh;  */
      list-style: none; 
    padding: 0;      
    margin: 0; 
     padding: 25px;
  border-radius: 12px;

  cursor: pointer;
    width: 250px;
    margin: 10px;
      background: linear-gradient(
        180deg,
        #f5ecff 0%,
        #f2f6ff 50%,  
        #eef9ff 100%  
    );
 box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1); 
    border: 1px solid #dcdcdc;
}